<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
	  internalLogFile="internal-nlog.log">
	<targets>
		<!-- 檔案輸出 -->
		<target name="logfile" xsi:type="File" fileName="logs/log.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}" />

		<!-- 主控台輸出 -->
		<!--<target name="logconsole" xsi:type="Console" />-->
	</targets>

	<rules>
		<!-- 這樣寫才能捕捉所有 logger -->
		<logger name="VoteOnline.*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
