
/****** Object:  Database [VoteOnline]    Script Date: 2023/10/4 下午 11:56:18 ******/
CREATE DATABASE [VoteOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VoteOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VoteOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VoteOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VoteOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VoteOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VoteOnline]
GO
/****** Object:  Table [dbo].[VoteItems]    Script Date: 2023/10/4 下午 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteItems](
	[VoteItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoteItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoteRecords]    Script Date: 2023/10/4 下午 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteRecords](
	[VoteId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](10) NOT NULL,
	[VoteItemId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VoteItemCounts]    Script Date: 2023/10/4 下午 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VoteItemCounts] AS
SELECT
    VI.VoteItemId,
    VI.ItemName,
    COUNT(VR.VoteItemId) AS VoteCount
FROM
    VoteItems VI
LEFT JOIN
    VoteRecords VR ON VI.VoteItemId = VR.VoteItemId
GROUP BY
    VI.VoteItemId, VI.ItemName;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2023/10/4 下午 11:56:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserName]) VALUES (N'Leo')
INSERT [dbo].[Users] ([UserName]) VALUES (N'Randy')
INSERT [dbo].[Users] ([UserName]) VALUES (N'RSY')
GO
SET IDENTITY_INSERT [dbo].[VoteItems] ON 

INSERT [dbo].[VoteItems] ([VoteItemId], [ItemName]) VALUES (1, N'電腦')
INSERT [dbo].[VoteItems] ([VoteItemId], [ItemName]) VALUES (2, N'滑鼠')
INSERT [dbo].[VoteItems] ([VoteItemId], [ItemName]) VALUES (3, N'鍵盤')
SET IDENTITY_INSERT [dbo].[VoteItems] OFF
GO
SET IDENTITY_INSERT [dbo].[VoteRecords] ON 

INSERT [dbo].[VoteRecords] ([VoteId], [UserName], [VoteItemId]) VALUES (1, N'Leo', 1)
INSERT [dbo].[VoteRecords] ([VoteId], [UserName], [VoteItemId]) VALUES (2, N'Sandy', 1)
INSERT [dbo].[VoteRecords] ([VoteId], [UserName], [VoteItemId]) VALUES (3, N'Sandy', 2)
SET IDENTITY_INSERT [dbo].[VoteRecords] OFF
GO
ALTER TABLE [dbo].[VoteRecords]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[Users] ([UserName])
GO
ALTER TABLE [dbo].[VoteRecords]  WITH CHECK ADD FOREIGN KEY([VoteItemId])
REFERENCES [dbo].[VoteItems] ([VoteItemId])
GO
USE [master]
GO
